<div class='modal' [ngClass]="{'is-active': visibility}">
    <div class='modal-background'></div>
    <div class='modal-content'>

        <div class='box'>

            <app-loading></app-loading>

            <div class='columns'>
                <div class='column' *ngFor='let gameTemplate of gameTemplates' (click)='selectGameTemplate(gameTemplate)'>
                    <a class='button is-large is-full-width'>{{ gameTemplate._id }}</a>
                </div>
            </div>

        </div>
    </div>

    <button class='modal-close' (click)='toggle()'></button>
</div>
