<div class='modal' [ngClass]="{'is-active': visibility}">
    <div class='modal-background'></div>
    <div class='modal-card'>

        <header class="modal-card-head">
            <p class="modal-card-title">Kies een template</p>
            <button class="delete" aria-label="close"></button>
        </header>

        <section class="modal-card-body">
            <div class='columns'>
                <div class='column' *ngFor='let gameTemplate of gameTemplates' (click)='selectGameTemplate(gameTemplate)'>
                    <a class='button is-primary is-large is-full-width' [ngClass]="{'is-active': gameTemplate == selectedGameTemplate}">{{ gameTemplate._id }}</a>
                </div>
            </div>
        </section>

        <footer class="modal-card-foot">
            <button class="button is-success" (click)='next()'>Volgende</button>
            <button class="button" (click)='hide()'>Sluiten</button>
        </footer>
    </div>

    <button class='modal-close' (click)='hide()'></button>
</div>
