<h1 class='title'>Spellen</h1>

<section>
    <div class='container'>

        <div class='columns'>

            <div class='column field is-2'>
                <label class='label'>Acties</label>

                <p class='control'>
                    <a class="button is-primary is-fullwidth" (click)='refresh()' [ngClass]="{'is-loading': yesIsLoading()}">Verversen</a>
                </p>

                <p class='control'>
                    <a class='button is-primary is-fullwidth' (click)='create_step1()'>Aanmaken</a>
                </p>

                <label class='label'>Spelstatus</label>
                <p class='control'>
                    <span class='select'>
                        <select placeholder='Spelstatus' (change)='onSelectedGameStateChanged($event.target.value)'>
                            <option *ngFor='let state of config.GAME_STATES'>{{ state }}</option>
                        </select>
                    </span>
                </p>

                <label class='label'>Speler</label>
                <p class='control'>
                    <span class='select'>
                        <select placeholder='Speler' (change)='onSelectedPlayerChanged($event.target.value)'>
                            <option *ngFor='let player of players'>{{ player }}</option>
                        </select>
                    </span>
                </p>

            </div>

            <div class='column'>

                <label class='label'>Resultaten</label>
                <app-loading></app-loading>
                <div class='box' *ngIf='gamesCount() > 0'>
                    <article class='media' *ngFor='let game of games | gameFilter: selectedGameState | gamePlayerFilter: selectedPlayer'>
                        <div class='media-content'>

                            <div class='content'>

                                <p>
                                    <strong>{{ game.gameTemplate }}</strong>
                                    <small>{{ game._id }}</small>
                                    <small style='float: right;'>{{ game.playerCount() }} / {{ game.maxPlayers }} spelers</small>
                                    <br>
                                    <small style='float: right;'>{{ game.state }}</small>
                                </p>

                                <details>
                                    <summary>Deelnemers</summary>
                                    <p *ngFor='let player of game.players'>{{ player._id }}</p>
                                </details>

                            </div>

                            <footer>
                                <button class='button is-primary' (click)='view(game)' [disabled]='!game.canView()'>Weergeven</button>
                                <button class='button is-success' (click)='join(game)' [disabled]='!canJoinGame(game)'>Deelnemen</button>
                            </footer>

                        </div>
                    </article>
                </div>

                <nav class='column pagination'>

                    <a class='pagination-previous' (click)='previousPage()' ng-disabled='!hasPreviousPage()'>Vorige</a>
                    <a class='pagination-next' (click)='nextPage()' ng-disabled='!hasNextPage()'>Volgende</a>

                </nav>

            </div>

        </div>

    </div>
</section>

<app-game-template-selector #gameTemplateSelector (event)='create_step2($event)'></app-game-template-selector>
<app-game-player-count-selector #gamePlayerCountSelector (event)='create_step3($event)'></app-game-player-count-selector>
