<h1 class='title'>Spellen</h1>

<section>
    <div class='container'>
        <div class='field'>
            <label class='label'>Spelstatus</label>
            <p class='control'>
                <span class='select'>
            <select placeholder='Spelstatus' (change)='onSelectedGameStateChanged($event.target.value)'>
                <option *ngFor='let state of config.GAME_STATES'>{{ state }}</option>
            </select>
        </span>
            </p>
        </div>
    </div>

    <div class='block'>
        <a class='button is-primary' (click)='create()'>Aanmaken</a>
    </div>
</section>

<section>
    <div class='container'>
        <div class='box'>
            <app-loading *ngIf='yesIsLoading'></app-loading>

            <article class='media' *ngFor='let game of games | gameFilter: selectedGameState'>
                <div class='media-content'>
                    <div class='content'>
                        <p>
                            <strong>{{ game.gameTemplate }}</strong>
                            <small>{{ game._id }}</small>
                            <small style='float: right;'>{{ game.playerCount() }} / {{ game.maxPlayers }} spelers</small>
                            <br>
                            <small style='float: right;'>{{ game.state }}</small>
                        </p>

                        <details>
                            <summary>Deelnemers</summary>
                            <p *ngFor='let player of game.players'>{{ player._id }}</p>
                        </details>
                    </div>

                    <footer>
                        <button class='button is-primary' (click)='view(game)' [disabled]='!game.canView()'>Weergeven</button>
                        <button class='button is-success' (click)='join(game)' [disabled]='!game.canJoin()'>Deelnemen</button>
                    </footer>
                </div>
            </article>
        </div>
    </div>
</section>

<section>
    <div class='container'>
        <nav class='pagination'>

            <a class='pagination-previous' (click)='previousPage()' ng-disabled='!hasPreviousPage()'>Vorige</a>
            <a class='pagination-next' (click)='nextPage()' ng-disabled='!hasNextPage()'>Volgende</a>

            <ul class='pagination-list'>
                <li *ngFor='let page of visiblePages()'>
                    <a class='pagination-link' (click)='page(page)'>{{ page }}</a>
                </li>
            </ul>

        </nav>
    </div>
</section>
