<div class="col s12">
	<ul class="collection">
		<li class="collection-item" *ngFor="let game of games | async">
			<div class="card">
				<div class="card-content">
					<pre>{{ game.id }}</pre>
					<ul class="collection">
						<li class="collection-item">
							Created by:
							{{ game.createdBy.name }}
						</li>
						<li class="collection-item">
							Template:
							{{ game.gameTemplate.id }}
						</li>
						<li class="collection-item">
							State:
							{{ game.state }}
						</li>
						<li class="collection-item">
							Players:
							{{ game.players.length }} / {{ game.maxPlayers}}
						</li>
					</ul>
				</div>
				<div class="card-action">
					<a href="#">Join</a>
				</div>
			</div>
		</li>
	</ul>
</div>