<md-list>
    <h3 md-subheader>Spellen</h3>

    <md-card md-list-item *ngFor='let game of games'>
        <md-card-header>
            <md-card-title>{{ game.gameTemplate }}</md-card-title>
            <md-card-subtitle>{{ game._id }}</md-card-subtitle>
        </md-card-header>

        <md-card-content>
            <p>Aangemaakt door {{ game.createdBy.name }}</p>
            <p>{{ game.playerCount() }} / {{ game.maxPlayers }} spelers</p>
        </md-card-content>

        <md-card-actions>
            <button md-raised-button>JOINEN</button>
        </md-card-actions>
    </md-card>
</md-list>

<button md-button (click)='createGame()'>Aanmaken</button>
