<div>
    <button md-button (click)="createGame()">Aanmaken</button>
    <md-list>
		<md-card md-list-item *ngFor="let game of games">
            <div md-line>{{ game._id }}</div>
						<div md-line>
							Created by:
							{{ game.createdBy.name }}
						</div>
						<div md-line>
							Template:
							{{ game.gameTemplate }}
						</div>
						<div md-line>
							State:
							{{ game.state }}
						</div>
						<div md-line>
							Players:
							{{ game.players.length }} / {{ game.maxPlayers}}
						</div>
				<div md-line>
					<a md-raised-button href="#">Join</a>
				</div>
		</md-card>
    </md-list>
</div>
